<div
    style="display: flex;justify-content: center;align-items: center;background: linear-gradient(106.19deg, #E1A2B8 -25.61%, #9F2BC1 74.99%);flex-direction: column;">
    <!-- linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(220, 124, 124, 0.79); -->
    <!-- linear-gradient(106.19deg, #E1A2B8 -25.61%, #9F2BC1 74.99%); -->
    <div style="width: 100%;">
        <h1
            style="text-align:center;width: 100%;padding: 5px 0px;font-style: normal;font-weight: 800;font-size: 38px;color: #fff;">
            <%= companyName %>
        </h1>
        <div style=" width: 100%;box-sizing: content-box;text-align: center;">
            <p
                style="margin: 5px 0;font-style: normal;font-weight: 300;font-size: 25px;line-height: 30px;color: #FFFFFF;">
                By pressing the login button you agree the teams & conditions
            </p>
            <a href="<%= url %>"
                style="text-decoration:none;display:inline-block;padding: 10px 25px;background: #3F71D2;border-radius: 18px;cursor: pointer; outline: none;border: none;font-style: normal;font-weight: 800;font-size: 48px;color: #FFFFFF;margin: 50px 0px;">
                Let's Go
            </a>
        </div>
        <div style="text-align: center;">
            <p
                style="font-style: normal;font-weight: 300;font-size: 25px;line-height: 30px;margin-bottom:15px;color: #FFFFFF;">
                if you are not try to login ignore this mail
            </p>
        </div>
    </div>
</div>